*
!/.gitignore

!/scripts/
!/scripts/**/
!/maps/
!/maps/**/
!/gui/
!/gui/**/
!/objects/
!/objects/**/
!/tools/
!/tools/**/

!*.py
!*.pyw
!*.xml

!*.font
!*.imageset
!*.layout
!*.looknfeel
!*.scheme

!*.png
!*.tga

/settings.xml
